################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimConnector/.vs
/SimConnector/SimConnector/bin
/SimConnector/SimConnector/obj
/main-app/target
/frontend/.idea
/frontend/node_modules
/main-app/.fleet
/frontend/yarn.lock
/frontend/yarn.lock
